<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 class="">Education</h1>
                <p class="lead mb-0">Niger Delta University, Wilberforce Island Amassoma, Bayelsa State</p>
                <p>B.Sc Biochemistry</p>
                <hr class="my-4">
                <p>You can reach me on</p>
                <div class="icons">
                    <a href="https://web.facebook.com/godstar.gerrald" target="_blank"><i class="fa fa-facebook mx-4 h2"></i></a>
                    <a href="https://twitter.com/sengodstar" target="_blank"><i class="fa fa-twitter mx-4 h2"></i></a>
                    <a href="mailto:sengodstar@gmail.com"><i class="fa fa-envelope mx-4 h2"></i></a>
                </div>
              </div>
        </div>
    </div>
</div>