<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 class="mb-4">Projects</h1>

                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Employee Management App </h4>
                            <p><a href="https://github.com/colossalboss/Employee-Management-C-" target="_blank">See on Github</a></p>
                        </div>
                        <div class="col-md-12">
                            <h4>Houze Search App - <a href="https://houzes4students.now.sh/" class="font-italic" target="_blank">live app</a></h4>
                            <p><a href="https://github.com/colossalboss/HouzeUI">See on Github</a></p>
                        </div>
                        <div class="col-md-12">
                            <h4>a9jatips App </h4>
                            <p><a href="https://github.com/colossalboss/Bat-asp-net-core" target="_blank">See on Github</a></p>
                        </div>
                        <div class="col-md-12">
                            <h4>Houze Search API </h4>
                            <p><a href="https://github.com/colossalboss/Houze-Dot-Net-Core-API" target="_blank">See on Github</a></p>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <p>You can reach me on</p>
                <div class="icons">
                    <i class="fa fa-facebook mx-4 h2"></i>
                    <i class="fa fa-twitter mx-4 h2"></i>
                    <i class="fa fa-google mx-4 h2"></i>
                </div>
              </div>
        </div>
    </div>
</div>