<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 class="">Work</h1>
                <p class="lead">Fullstack .Net Intern at Code360 Academy</p>
                <hr class="my-4">
                <p>You can reach me on</p>
                <div class="icons">
                    <i class="fa fa-facebook mx-4 h2"></i>
                    <i class="fa fa-twitter mx-4 h2"></i>
                    <i class="fa fa-google mx-4 h2"></i>
                </div>
              </div>
        </div>
    </div>
</div>