<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 class="">Skills</h1>
                <p class="lead mb-0">HTML5, CSS3, JavaScript, C#, ASP.Net Core, MVC, Web API</p>
                <p class="mb-0">JQuery, Bootstrap4, Angular, Xamarin Forms</p>
                <p>Git, SQL, Entityframework Core</p>
                <hr class="my-4">
                <p>You can reach me on</p>
                <div class="icons">
                    <a href="https://web.facebook.com/godstar.gerrald" target="_blank"><i class="fa fa-facebook mx-4 h2"></i></a>
                    <a href="https://twitter.com/sengodstar" target="_blank"><i class="fa fa-twitter mx-4 h2"></i></a>
                    <a href="mailto:sengodstar@gmail.com"><i class="fa fa-envelope mx-4 h2"></i></a>
                </div>
              </div>
        </div>
    </div>
</div>